---
import Layout from '../layouts/Layout.astro';

export const prerender = false;

---

<Layout title="Revalidation">
    <main>
        <div class="contactForm">
            <img class="oval" src="/images/oval-frame.png" alt="" height="500vh">
            <p class="form">Email <br> phone number <br> </p>
        </div>
    </main>
</Layout>