---
import Layout from '../layouts/Layout.astro';
import introduction from '../assets/introductionpicture.png'

const explainer = `
An Astro website can go way beyond static pages - on the right platform.

Netlify supports not only [Streaming SSR](https://docs.astro.build/en/guides/server-side-rendering/#html-streaming) and fast [Edge Middleware](https://docs.astro.build/en/guides/middleware/), but also [on-demand revalidation](https://www.netlify.com/blog/cache-tags-and-purge-api-on-netlify/) and [stale-while-revalidate](https://www.netlify.com/blog/swr-and-fine-grained-cache-control/). 
Any page or data can be rebuilt only when needed, without site visitors ever getting a performance hit.
`;
---

<Layout title="Welcome to my portfolio">
    <main>
		<div class="intro">
			<h1 class="title">My Portfolio</h1>
			<p class="titleName">By Elana Guinevere</p>
			<a href="#intro-duction" class="arrow" id="arrow"><h3>&#8595</h3></a>
		</div>
		<div id="intro-duction" class="intro-duction">
			<img class="picture" src={introduction} alt="picture of me">
			<div class="aboutme">
				<h2 class="introductionTitle">Hello, I'm Elana Guinevere</h2>
				<p class="introduction">I’m a student at Howest in Kortrijk, Belgium,<br> studying <em>Digital Design and Development (Devine)</em>. 
					To expand my skills, I’ve been taking online courses alongside my studies. 
					Currently, I’m exploring various media to create artworks—I design my own jewellery and have recently started working with oil paint. 
					<strong>This portfolio showcases my proudest creations.</strong></p>
			</div>
		</div>
		<div id="timelineContainer" class="timelineContainer">
			<img src="../../public/assets/timeline.png" alt=""  width="100%" class="fade-timeline" id="fadeTimeline">
		</div>
		<div class="gallery">
			<h2 class="project-title sungold">Project Gallery</h2>
			<ul>
				<li class="galleryLi"><a class="galleryA" href="">Paintings</a></li>
				<li class="galleryLi"><a class="galleryA" href="">Jewellery</a></li>
				<li class="galleryLi"><a class="galleryA" href="">Digital art</a></li>
				<li class="galleryLi"><a class="galleryA" href="">Devine Projects</a></li>
			</ul>
		</div>
	
		
</main>
</Layout>
