---
import Layout from '../layouts/Layout.astro';
---
<Layout title='paintings'>
    <main>
        <a href="/" class="back-arrow">
            ←
            </a>
        <div class="paintings">
            <a href="../../artworks/willow">
                <img src="/images/willow.png" class="willow painting">
            </a>
            
            <a href="../../artworks/anniversary">
                <img src="/images/anniversary.png" alt="Anniversary" class="anniversary painting">
            </a>
        </div>

    </main>
</Layout>